{% extends 'base.html' %}


{% block title %} {{ title }} {% endblock %}


{% block navbar-brand %}{{ title }}{% endblock %}


{% block navbar-nav %}
    {% for key, value in departures.items %}
        <li class="nav-item active">
            <a class="nav-link" href="/departure/{{ key }}" data-test="navlink">{{ value }}</a>
        </li>

    {% endfor %}
{% endblock %}


{% block display-5 %} Летим из <span data-test="from">{{ from }}</span>{% endblock %}
{% block mb-4 %}Найдено <span data-test="tourcount">{{ tourcount }}</span> тура, от
    <span data-test="pricemin">{{ pricemin }}</span> до
    <span data-test="pricemax">{{ pricemax }}</span> и от <span data-test="nightsmin">{{ nightsmin }}</span> ночей до
    <span
            data-test="nightsmax">{{ nightsmax }}</span> ночей{% endblock %}
<!-- HERO -->


<!-- CARDS -->

{% block row %}
    {% for number, tour in tours.items %}
        {% if tour.departure == departure %}
            <div class="col-4" data-test="card">
                <div class="card mb-3">
                    <img src="{{ tour.picture }}" class="card-img-top img-fluid" data-test="picture" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{ tour.title }}</h5>
                        <p class="card-text">{{ tour.description }}</p>
                        <a href="/tour/{{ number }}" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
