{% extends 'base.html' %}


{% block title %}{{ tours.title }} {{ tours.stars }} ★{% endblock %}


{% block navbar-brand %}{{ title }}{% endblock %}


{% block navbar-nav %}
    {% for key, value in departures.items %}
        <li class="nav-item active">
            <a class="nav-link" href="/departure/{{ key }}" data-test="navlink">{{ value }}</a>
        </li>

    {% endfor %}
{% endblock %}

    {% block display-5 %}{{ tours.title }} {{ tours.stars }}★{% endblock %}

    <!-- HERO -->

    {% block lead %}<span data-test="country">{{ tours.country }}</span> <span
            data-text="departure">{{ departure }}</span> <span data-text="nights">{{ tours.nights }}</span> ночей{% endblock %}
    {% block other %}
    <img data-test="picture"
         src="{{ tours.picture }}"
         class="w-75" alt="">

    <p class="my-4 w-75" data-test="description">{{ tours.description }}</p>

    <a href="" class="btn btn-success btn-lg" data-test="buybutton">Купить тур за <span
            data-test="price">{{ tours.price }}</span></a>
    {% endblock %}
